# Don't track any changes to the Generated folder
/Editor/Generated/*
Editor/Generated/CollectionName.cs

# Ignore all .meta files within the 'Docs' folder and its subfolders:
Docs/**/*.meta
Editor/Generated/CollectionName.cs
